Dockerfile
Makefile
docker-compose.yaml
db.sqlite3


.git/*
env/
venv/
.venv/
nginx/
__pycache__/

.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode
.project
.gitignore



*.sublime-project
*.sublime-workspace

sent_emails
sent_emails/